@model List<ResultContactDto>
@foreach(var x in Model) {
<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <h4>
                        Contact Us
                    </h4>
                    <div class="contact_link_box">
                        <a href="@x.Location">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                                Location
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                                @x.Phone
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                                @x.Mail
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_detail">
                    <a href="/Default/Index/" class="footer-logo">
                        @x.FooterTitle
                    </a>
                    <p>
                        @x.FooterDescription
                    </p>
                        @await Component.InvokeAsync("_UILayoutSocialMediaComponentPartial")
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <h4>
                    @x.OpenDays
                </h4>
                <p>
                    @x.OpenDaysDescription
                </p>
                <p>
                    @x.OpenHours
                </p>
            </div>
        </div>
        <div class="footer-info">
            <p>
                &copy; <span id="displayYear"></span> All Rights Reserved By
                <a href="https://html.design/">AliWert</a><br><br>
                &copy; <span id="displayYear"></span> Distributed By
                <a href="https://themewagon.com/" target="_blank">AliWert</a>
            </p>
        </div>
    </div>
</footer>
}