@model List<ResultBasketDto>
@{
    Layout = null;
    int count = 0;
    decimal basketTotalPrice = 0;
}

<!DOCTYPE html>
<html>

@await Component.InvokeAsync("_UILayoutHeadComponentPartial")


<body class="sub_page">

    @await Component.InvokeAsync("_MenuNavbarComponentPartial")
    <br />
    <br />
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-dark mb-30">
                    <a class="breadcrumb-item text-white" href="/Default/Index/">Main Page</a>
                    <a class="breadcrumb-item text-white" href="/Menu/Index/">Menu</a>
                    <span class="breadcrumb-item active">Your Basket</span>

                </nav>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-light table-borderless table-hover text-center mb-0">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                #
                            </th>
                            <th>Product Name</th>
                            <th>Amount</th>
                            <th>Price</th>
                            <th>Total</th>
                            <th>Delete</th>

                        </tr>
                    </thead>
                    @foreach (var x in Model)
                    {
                        basketTotalPrice = Model.Sum(x => x.Price);
                        count++;
                        <tbody class="align-middle">
                            <tr>
                                <td class="align-middle">@count</td>
                                <td class="align-middle">@x.ProductName</td>
                                <td class="align-middle">@x.Count</td>
                                <td class="align-middle">@x.Price</td>
                                <td class="align-middle">@x.TotalPrice</td>
                                <td class="alignalign-middle btn-delete">
                                    <button data-basketid="@x.BasketID" id="btndeletebasketid" class="btn btn-sm btn-danger">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
            <div class="col-lg-4">
                <form>
                    <div class="input-group">
                        <input type="text" id="couponcode" class="form-control border-1 p-4" placeholder="Your Coupon Code" />
                        <div>
                            <a style="height:3rem;padding-top:0.4rem; margin-left: 0.9rem;" class="btn btn-warning" id="btncouponcode">	Application Coupon Code</a>
                        </div>
                    </div>
                </form>
                <br />
                <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-warning pr-3">Basket Summary</span></h5>
                <div class="bg-light p-30 mb-5">
                    <div id="container" class="border-bottom pb-2">
                        <div class="d-flex justify-content-between mb-6">
                            <h6>Total Price</h6>
                            <h6><span id="totalprice">@basketTotalPrice</span>₺</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Vat Inclusive</h6>
                            <h6 id="kdv" class="font-weight-medium">100₺</h6>
                        </div>
                        <br />
                    </div>
                    <div class="pt-2">
                        <div class="d-flex justify-content-between mt-2">
                            <h5>Total Amount</h5>
                            <h5><span id="totalpricewithkdv">1600</span>₺</h5>
                        </div><br />
                        <button id="btnchecked" class="btn btn-block btn-warning font-weight-bold my-3">Complete Order</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @await Component.InvokeAsync("_UILayoutFooterComponentPartial")

    @await Component.InvokeAsync("_UILayoutScriptComponentPartial")
    <script src="sweetalert2.all.min.js"></script>
</body>

</html>
