@model List<ResultBasketDto>
@{
    Layout = null;
    int count = 0;
}

<!DOCTYPE html>
<html>

@await Component.InvokeAsync("_UILayoutHeadComponentPartial")


<body class="sub_page">

    @await Component.InvokeAsync("_MenuNavbarComponentPartial")
    <br />
    <br />
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-dark mb-30">
                    <a class="breadcrumb-item text-white" href="/Default/Index/">Main Page</a>
                    <a class="breadcrumb-item text-white" href="/Menu/Index/">Menu</a>
                    <span class="breadcrumb-item active">Your Basket</span>

                </nav>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-light table-borderless table-hover text-center mb-0">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                #
                            </th>
                            <th>Product Name</th>
                            <th>Amount</th>
                            <th>Price</th>
                            <th>Total</th>
                            <th>Delete</th>

                        </tr>
                    </thead>
                    @foreach (var x in Model)
                    {
                        count++;
                        <tbody class="align-middle">
                            <tr>
                                <td class="align-middle">@count</td>
                                <td class="align-middle">@x.ProductName</td>
                                <td class="align-middle">@x.Count</td>
                                <td class="align-middle">@x.Price</td>
                                <td class="align-middle">@x.TotalPrice</td>
                                <td class="alignalign-middle btn-delete">
                                    <button data-basketid="@x.BasketID" id="btndeletebasketid" class="btn btn-sm btn-danger">
                                        <i class="fa fa-times"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
            <div class="col-lg-4">
                <form>
                    <div class="input-group">
                        <input type="text" id="couponcode" class="form-control border-1 p-4" placeholder="Your Coupon Code" />
                        <div>
                            <a style="height:3rem;padding-top:0.4rem; margin-left: 0.9rem;" class="btn btn-warning" id="btncouponcode">	Application Coupon Code</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    @await Component.InvokeAsync("_UILayoutFooterComponentPartial")

    @await Component.InvokeAsync("_UILayoutScriptComponentPartial")
    <script src="sweetalert2.all.min.js"></script>
</body>

</html>
