@model List<ResultContactDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Main Page Contact Information Transactions</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Contact List</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            You can perform operations related to the contact from below, you don't forget create an contact page
                        </div>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Location</th>
                                    <th scope="col">Phone Number</th>
                                    <th scope="col">Mail Adress</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Delete</th>
                                    <th scope="col">Update</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var x in Model)
                                {
                                    <tr>
                                        <td>@x.ContactID</td>
                                        <td>@x.Location</td>
                                        <td>@x.Phone</td>
                                        <td>@x.Mail</td>
                                        <td>@x.FooterDescription</td>
                                        <td><a href="/Contact/DeleteContact/@x.ContactID" class="btn btn-outline-danger">Delete</a></td>
                                        <td><a href="/Contact/UpdateContact/@x.ContactID" class="btn btn-outline-success">Update</a></td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a href="/Contact/CreateContact/" class="btn btn-outline-primary">Add New About Us </a>
                    </div>
                </div>




            </div>

        </div>
    </div>
</div>



